body {
	margin: 0;
}

.character {
	height: 100px;
	width: 100px;
	color: white;
}

#starting-screen {
	height: 100vh;
	width: 100vw;
	position: fixed;
	background: yellow;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#fighting-area {
	height: 100px;
	background: red;
}

#enemy-area {
	height: 100px;
	background: blue;
}

#other-area {
	height: 100px;
	background: green;
}