body {
	margin: 0;
	font-family: serif;
}

h1 {
	font-family: 'Bungee', cursive;
	font-size: 90px;
	padding: 40px 0px 20px;
	color: white;
}

h2 {
	font-family: 'Press Start 2P', cursive;
	font-size: 25px;
	padding: 30px;
}

h3 {
	font-size: 15px;
	font-family: 'Bungee', cursive;
	padding-bottom: 10px;
	color: #282828;
}

p {
	font-family: sans-serif;
	color: yellow;
	text-align: center;
}


.character {
	height: 100px;
	width: 100px;
	color: white;
}

.character-box {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: space-between;

}

/*Starting Screen*/

#starting-screen h2 {
	padding-top: 70px;
	color: #ff9d26;
	text-shadow: 2px 1px #282828;
}

#waiting-area {
	padding-top: 20px;
	display: flex;
}

#waiting-area div {
	max-width: 200px;
}

#waiting-area img {
	margin: 20px;
	padding: 10px;
}

#waiting-area img:hover {
	cursor: pointer;
}

#starting-screen {
	height: 100vh;
	width: 100vw;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%);
}

#waiting-area .character-box:nth-child(1) img {
	animation: ready 2s infinite alternate;
}
#waiting-area .character-box:nth-child(2) img {
	animation: ready 2s infinite alternate;
	animation-delay: 0.3s;
}
#waiting-area .character-box:nth-child(3) img {
	animation: ready 2s infinite alternate;
	animation-delay: 0.7s;
}
#waiting-area .character-box:nth-child(4) img  {
	animation: ready 2s infinite alternate;
	animation-delay: 0.5s;
}

@keyframes ready {
	from { 
		transform: translate3d(0, 0, 0);     
	}
	to 	{ 
		transform: translate3d(0, 5px, 0); 
	}
}

.hide {
	display: none;
}

/*End of Starting Screen*/

/*Gameplay Screen*/

#attack {
	display: flex;
	justify-content: center

}

button {
	background: red;
	color: white;
	font-size: 30px;
	border-radius: 5px;

}

#gameplay-screen {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%);
}

/*Arena*/

#arena {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45%;
}

#arena div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.3333%;
}

#user-message {
	padding: 0px 0px 20px;
	font-size: 20px;
}

#middle-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#arena .character-box {
	margin-top: 50px;
}

#arena .character-box h3 {
	padding: 30px;
}


#fighting-area img {
	transform: scale(1.5);
}

#enemy-fighting-area img {
	transform: scale(1.5);

}

.outline {
		height: 25px;
		border: 1px solid black;
		position: fixed;
		top: 0;
		right: 50%;
		left: 0;
	}

.health {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: #009900;
}

.enemy-outline {
		height: 25px;
		border: 1px solid black;
		position: fixed;
		display: flex;
		justify-content: flex-end;
		top: 0;
		right: 0;
		left: 50%;
	}

.enemy-health {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0%;
	background: red;
}


/*Enemy Waiting Area*/

#enemy-area {
	width: 100%;
	display: flex;
	justify-content: center;
}

#enemy-area img {
	margin: 30px;
	animation: ready 0.3s infinite alternate;
	animation-play-state: paused;
}

#enemy-area img:hover {
	animation-play-state: running;
}

#user-message {
	text-align: center;
}

